[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
wheel = "*"
arrow = "*"
python-dateutil = "*"
uvicorn = "*"
strawberry-graphql = {extras = ["debug-server"], version = "*"}
fastapi = "*"
bs4 = "*"
colorlog = "*"
strawberry-sqlalchemy-mapper = "*"
alembic = "*"

[dev-packages]
pytest = "*"
pytest-reportlog = "*"
httpx = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.13.7"

[scripts]
dev = "fastapi dev main.py --app _app"
prod = "fastapi run main.py --app _app"
revise_db = "alembic revision --autogenerate"
