[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = ">= 2.0.23"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
wheel = "*"
pytest = "*"
ariadne = "*"
pytz = "*"
arrow = "*"
python-dateutil = "*"
uvicorn = "*"
strawberry-graphql = {extras = ["debug-server"], version = "*"}
fastapi = "*"

[dev-packages]
flask-testing = "*"
pytest = "*"
pytest-reportlog = "*"

[requires]
python_version = "3.12.0"
