[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
wheel = "*"
pytest = "*"
ariadne = "*"
pytz = "*"
arrow = "*"
python-dateutil = "*"
fastapi = "*"
uvicorn = "*"
strawberry-graphql = {extras = ["debug-server"], version = "*"}

[dev-packages]
flask-testing = "*"
pytest = "*"
pytest-reportlog = "*"

[requires]
python_version = "3.10"
