<VirtualHost *>
    ServerName combot.bblankenship.me

    WSSGIDaemonProcess combot_server user=user1 group=group1 threads=5
    WSGIScriptAlias / /var/www/combot_server/production/combot_server.wsgi

    <Directory /var/www/combot_server>
        WSGIProcessGroup combot_server
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>
</VirtualHost>